<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
            <div><img alt="" class="img-fluid" src="https://cdn.pixabay.com/photo/2017/09/07/10/25/logo-2724481__340.png"></div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
            <div>
                <h2>Deliver high-quality software quickly and painlessly</h2>
                <p>
                    Bhavna Corp. - <b>"Think Locally - Work Globally"</b> is driven by a passion to deliver the most innovative and cost-effective solutions to its clients. We provide a combination of engineering consultancy, offshore engineering services, and turnkey solutions. Working collaboratively with our clients' engineering management teams.

                    Bhavna Corp. has established a strong track record of reducing costs, improving quality, accelerating time to market, enhancing productivity, and cost effectively scaling engineering resources. At Bhavna Corp., we believe that we are a collection of our individual talents and by working together; we can build a global force to achieve common and individual goals.
                </p>
            </div>
        </div>
    </div>
</div>
