<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the Home Page of my Application which I have copied from my previous web pages.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/13/13/11/oldtimer-1197800__340.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Car</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/04/07/06/53/bmw-1313343__340.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Bike</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/10/10/14/44/train-1728537__340.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Train</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

