<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="section-header text-center pb-5">
                <h2>Contact Us</h2>
                <p><b>Bhavna Software India (P) Ltd</b></p>
                <p>10th Floor, Wing C, Logix Cyber Park,</p>
                <p>C 28-29, Sector 62, Noida</p>
                <p>Uttar Pradesh – 201301</p>
            </div>
        </div>
    </div>
</div>